.connect/
.env
coverage/
dist/
event-proxy/.env
event-proxy/coverage/
event-proxy/dist/
event-proxy/node_modules/
email-worker/.env
email-worker/.wrangler/
email-worker/wrangler.toml
email-worker/coverage/
email-worker/dist/
email-worker/node_modules/
node_modules/
**/pnpm-lock.yaml
